html, body, div, h1 {
	margin:0;
	padding:0;
}

div#header {
    /*clear: both;*/
    overflow:auto;
    display: inline-block;
    /* margin-top: 10 px;*/
    position: relative;
    vertical-align: top;
    /*background-color:#bfbfbf;*/
}

h1#site_title {
    float: left;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

div#right {
    float: right;
    width: 100px;
}

div#page {
    clear: left;
    overflow:auto;
}

div#left {
    float: left;
    width: 200px;
    margin-left: 20px;
}

div#main {
    float: left; 
    display: inline;
}

div#footer {
    display: block;
    clear: both;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}

div.pic {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0px 0px 4px 0px;
}

/* Vertical align of pictures */
img.thumbnails {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img.in_user_profile {
	/*float:right;*/
}

div.pagination {
    text-align: center;
}

ul.tag_list {
    list-style-type: none;
    padding-left:0px;
}